{{/* base template of validation function */}}
{{define "func"}}
{{template "signature" . -}}
    var errors []ValidationError
    {{range .ValidationRules}}
        // {{.FieldName}}; {{.FieldType}}{{range .Rules -}}; {{.Type}}({{.Value}}){{end}}
    {{end}}
    return errors, nil
}
{{end}}